<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PKKitName</key>
	<string>Example App</string>
	<key>PKUserIdentifier</key>
	<string>128</string>
	<key>PKUserEmail</key>
	<string>admin@radiusnetworks.com</string>
	<key>PKGlobalUserIdentifier</key>
	<string>1</string>
	<key>PKAPIToken</key>
	<string>a70d06386b0aa886e4f1de8c09f0e9030e937c20abb7318e0b45283e1f6615f5</string>
	<key>PKKitURL</key>
	<string>http://proximitykit.com/api/kits/99</string>
	<key>PKMapURL</key>
	<string>http://proximitykit.com/api/maps/72</string>
	<key>PKMapName</key>
	<string>Radius HQ</string>
</dict>
</plist>
